<!-- <div class="results_content">
  <p class="result_label">Results:</p>
  <%#- ["poll", "slideshow", "countdown", "this_or_that"].each do |choice| %>
    <%#- if Option.number_of(choice) == 0 || Option.number_of(choice) == nil %>
      <%#- next %>
    <%#- else %>
      <%#= choice + ": " + Option.number_of(choice).to_s + " votes" %>
    <%#- end %>
    <br/>
  <%#- end %>
</div>
 -->
