@import compass

.widget_container
  width: 180px
  +background-image(linear-gradient(#d1cedd, #5b7ecf))
  padding: 10px
  +border-radius(5px)
  margin: 5px

.title
  font-weight: bold
  color: #fff
  padding: 10px 5px
  background-color: #0c43c3

.subtitle_spacing
  height: 20px
  background-color: #142e6b

.description
  font-size: 13px
  padding: 10px

.options
  margin-bottom: 10px
